fastapi==0.109.0
uvicorn[standard]==0.27.0
sqlalchemy==2.0.25
psycopg[binary]

alembic==1.13.1
pydantic==2.5.3
pydantic-settings==2.1.0
python-dotenv==1.0.0

# Data fetching
yfinance==0.2.35
requests==2.31.0
aiohttp==3.9.1

# Embeddings & Vector Store
sentence-transformers==2.3.1
chromadb==0.4.22


# LLM
google-generativeai==0.3.2
langchain==0.1.6
langchain-google-genai==0.0.6

# Testing
pytest==7.4.4
pytest-asyncio==0.23.3
httpx==0.26.0
greenlet # required for sqlalchemy async
